@import "base/colors.css.scss";

body {
  background-color: $green-2-color !important;
  color: white !important;
  margin: 0;
  overflow-x: hidden;
}

.front-view{
  background-image: url('backgroundGreen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.welcome-text-section {
  color: white;
  margin-top: 15vh;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 64px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 1s;
}

.main-header-welcome1 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.main-header-welcome2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 200;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 0.5s;
}

.main-header-description {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-left: 20px;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-delay: 1.2s;
}

.custom-img {
  width: 130px;
}

.custom-arrow {
  color: white !important;
  font-size: 48px;
  font-weight: 300;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bouncing-icon {
  animation: bounce 2s infinite;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.arrow-description {
  text-decoration: none !important;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 2.1s;
}

.project-section {
  margin-top: 70px;
  position: relative;
}

.project-display {
  display: flex;
  align-items: center;
  justify-content: center;
  .project-preview {
    width: 60%;
    .preview-cont {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;

      .preview-container {
        height: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 85px;
        padding-right: 20px;
        
        .preview-section {
          margin: 30px 0;
          display: flex;
          flex-direction: column;
          max-width: 850px;
          min-width: 750px;
          height: 420px;
          background-color: $main-site-background-color;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          z-index: 500;
          
          .preview-header {
            background-color: rgba(24, 33, 35, 0.8);
            display: flex; 
            align-items: center;
            min-height: 36px;
            max-height: 36px;
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 1px solid rgba(13, 18, 19, 0.8);
            padding-left: 20px;
            gap: 10px;
            
            .action-dot-red, 
            .action-dot-green, 
            .action-dot-yellow {
              aspect-ratio: 1 / 1;
              border-radius: 100%;
              width: 10px;
              height: 10px;
            }
      
            .action-dot-green {
              background-color: #34c759;
            }
      
            .action-dot-red {
              background-color: #ff3b30;
            }
      
            .action-dot-yellow {
              background-color: #fc0;
            }
          }
      
          .preview_image {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
  
  .project-icon-area {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-container {
      max-width: 320px;
      background: linear-gradient(to top right, $green-1-color, $green-2-color, $green-2-color, $green-1-color, $green-0-color);
      border-radius: 12px;
      color: $green-4-color;
      font-weight: 600;
      font-size: 24px;

      .icon-header{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 22px;
      }
    }
  }
}

.bottom-section-background-delivery-app {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2347b278' fill-opacity='1' d='M0,0L30,5.3C60,11,120,21,180,64C240,107,300,181,360,224C420,267,480,277,540,256C600,235,660,181,720,149.3C780,117,840,107,900,117.3C960,128,1020,160,1080,176C1140,192,1200,192,1260,160C1320,128,1380,64,1410,32L1440,0L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  margin-top: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.bottom-section-background-drag-and-drop-app {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2347b278' fill-opacity='1' d='M0,64L48,69.3C96,75,192,85,288,112C384,139,480,181,576,181.3C672,181,768,139,864,122.7C960,107,1056,117,1152,144C1248,171,1344,213,1392,234.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  margin-top: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.custom-col-width {
  min-width: 400px;
}

.container-style {
  position: relative;
  display: inline-block;
  max-width: 125px;
}

.green-circle-style {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #39cc39;
  border: 2px solid #efefef;
  border-radius: 50%;
  left: 90px;
  margin-top: -25px;
  animation: pulseAnimation 1.5s infinite;
}

.spacing {
  height: 20vh;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 41% 59% 54% 46% / 36% 48% 52% 64%;
  margin-left: 10px;
  object-fit: cover;
  object-position: center;
}

.profile-pic-antek {
  width: 100px;
  height: 100px;
  border-radius: 30% 70% 46% 54% / 30% 55% 45% 70%;
  margin-left: 10px;
}

.profile-pic-maciek {
  width: 100px;
  height: 100px;
  border-radius: 43% 57% 46% 54% / 55% 34% 66% 45%;
  margin-left: 10px;
}

.development-team-pics {
  cursor: pointer;
}

.contact-icon {
  color: $green-4-color;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 1px;
}

.contact {
  cursor: pointer;
}

li.contacts {
  overflow: hidden;
  background: $green-0-color;
  list-style: none;
  white-space: nowrap;
  margin-right: 10px;
  border-radius: 25px;
  display: inline-block;
}

li.contacts span {
  opacity: 0;
  color: $green-4-color;
  max-width: 0;
  display: inline-block;
  text-decoration: none;
  transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}

li.contacts span:hover {
  color: $green-4-color;
}

li.contacts span i {
  float: right;
  display: block;
  padding-right: 1em;
  font: 1em/1 'Vercetti-Regular', sans-serif;
  font-size: 13px;
}

li.contacts b {
  line-height: 1;
  font-size: 20px;
  display: inline-block;
  padding: 5px 7px;
  margin-bottom: 2px;
}

li.contacts:hover span {
  opacity: 1;
  max-width: 300px;
  transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}

.project-pic {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.green-dot-section{
  display: flex;
  gap: 10px;
  .green-dot-projects {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    background: linear-gradient(45deg, 
      $green-4-color 0%,  
      $green-3-color 30%, 
      $green-2-color 50%, 
      $green-1-color 75%, 
      $green-0-color 100%
    );
  }
}

.project-title {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
}

.project-sub-title {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 78px;
}

.project-icon-area {
  text-align: center;
  padding-top: 1vh;
  font-family: 'Euclid', sans-serif;
  font-size: 30px;
  width: 400px;
  margin: 0 20px;
}

.project-icon-element {
  width: 35px;
  height: 35px;
  margin: 10px 0px;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.icon-wrapper {
  position: relative;
  max-width: 250px;
}

.text-on-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 16px;
}

.text-on-hover-version {
  font-size: 10px;
}

.icon-wrapper:hover .project-icon-element {
  animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.icon-wrapper:hover .text-on-hover {
  animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.4s;
}

.main-description-area {
  background-color: $green-3-color;
  .main-description-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
    background-color: $green-4-color;
    border-radius: 0 12px 12px 12px;
    min-height: 180px;
  }

  .additional-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  
    .icon-element {
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;
      justify-content: start;
      cursor: pointer;

      a{
        text-decoration: none !important;
      }

      &.with-sub-description{
        padding-top: 17px;
      }
      .icon {
        font-size: 34px;
        color: $green-5-color;
      }
      
      .icon:hover {
        animation: jello-horizontal 0.9s both;
      }
      
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
          font-family: 'Lato', sans-serif;
          font-size: 12px;
          font-weight: 400;
          color: $green-5-color;
        }
      }
      
      .sub-description {
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        font-weight: 300;
        color: $green-5-color;
      }
    }
  }
}

.description-section {
  margin-left: 90px;
  min-height: 10vh;
}

.main-description-area-end {
  min-height: 40vh;
}


menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

menu button {
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px 12px 0 0;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

menu button:hover {
  background-color: $green-4-color;
  color: white;
}

menu button.active {
  background-color: $green-4-color;
  color: white;
}

.active {
  background-color: $green-4-color;
}

.development-team-header {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: white;
  padding-top: 24px;
}

.development-team-header-pdf {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: white;
  padding-top: 24px;
  size: 50px;
}

.additional-text-socials {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: $green-4-color;
}

.socials-icons {
  cursor: pointer;
}

.socials-icons:hover {
  animation: jello-horizontal 0.9s both;
}

.no-decorations {
  text-decoration: none;
}

.icon-wrapper-development {
  position: relative;
}

.icon-on-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}

.icon-wrapper-development:hover .icon-on-hover {
  animation: focus-in-expand 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.icon-wrapper-development:hover .development-team-pics {
  filter: brightness(50%);
}

.main-page-footer {
  background: linear-gradient(to bottom, $green-2-color, $green-3-color);
  height: 30px;
}

.main-page-footer-text {
  color: #b5ecb8;
  text-decoration: none;
  font-family: 'Euclid', sans-serif;
  font-size: 14px;
}

.splide{
  width: 100%;
  height: 92%;

  .splide__track{
    width: 100% !important;
    height: 100% !important;
  }
  ul.splide__list{
    width: 100% !important;
    height: 100% !important;
  }
  li.splide__slide{
    width: 100% !important;
    height: 100% !important;
  }

  .splide__arrow{
    background-color: transparent !important;
  }

  .splide__arrow svg{
    fill: white !important;
  }

  .splide__arrow--prev {
    top: -80px !important;
  }
  
  .splide__arrow--next {
    bottom: -50px !important;
  }

  .splide__pagination{
    right: -20px;
  }

  .splide__pagination__page {
    background-color: white; 
  }

  .splide__pagination__page.is-active {
    background-color: $green-4-color; 
  }

  .splide__pagination__page:hover {
    background-color: $green-5-color; /* Kolor kropki po najechaniu */
  }
}