@import "base/colors.css.scss";

.main-form{
  form{
    .form-inputs{
      label, input{
        display: flex;
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        color: $green-4-color;
      }

      input{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
}

.error_notification, span.error{
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $orange-4-color;
}