@import "base/colors.css.scss";

@media only screen and (max-width: 1300px) {
  .project-icon-area {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .main-description-area {
    display: flex;
    flex-direction: column;
  }

  .additional-links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .project-preview {
    margin-left: auto;
    margin-right: auto;
  }

  .project-display{
    flex-direction: column;
    .preview-container{
      padding: 0 !important;
    }
  }

  .description-section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 760px) {
  .content-wrapper {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  .spacing {
    height: 5vh;
  }

  .welcome-text-section {
    margin-top: 1vh;
  }

  .main-header {
    font-size: 30px;
  }

  .custom-img {
    margin-right: 30px;
    width: 100px;
  }


  .main-header-description {
    font-size: 16px;
  }

  .bottom-section-background-drag-and-drop-app {
    width: 100%;
  }

  .project-title {
    font-size: 25px;
    margin-right: auto;
  }

  .green-dot-section{
    margin-bottom: 5px;
    padding-left: 0 !important;
    align-items: end;
    justify-content: center;
  }

  .project-header{
    margin-left: 19.5px !important;
    margin-right: 0 !important;
  }

  .green-dot-projects {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-sub-title {
    padding-left: 60px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: start;
    font-size: 11px;
  }

  .project-preview {
    width: 100%;
  }

  .preview-container{
    height: unset !important;
    max-height: 550px !important;
    min-height: 380px !important;
  }

  .preview-section {
    max-width: 550px !important;
    min-width: 350px !important;
    height: 200px !important;
  }

  .splide__pagination{
    right: -25px;
  }

  .splide__pagination--ttb{
    padding: 0.5rem 0 !important;
  }

  .splide__pagination__page {
    height: 6px !important;
    width: 6px !important;
    margin: 0 !important;
  }

  .project-icon-area {
    width: 75%;
    margin-bottom: 20px;
  }

  .additional-links{
    gap: 20px !important;
  }

  menu button {
    font-size: 21px;
  }

  .description-section {
    max-width: 90vw;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-container {
    margin-bottom: 5vh;
  }

  .main-description-area {
    margin: 0;
  }

  .development-team-header {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .additional-links {
    flex-wrap: wrap;
    .icon-element {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
  .spacing.header-section.row{
    display: none;
  }
  .splide__pagination{
    right: -12px !important;
  }
}